{% extends 'base.html' %}
{% block content %}

<h2 id="header"> Welcome to the Website, Please log in</h2>
{% if mode %}
<br />
<div class="alert alert-danger">
    <ul>
        <li>Invalid Credentials</li>
        
    </ul>
</div>
      {% endif %}
<div class="container">
    <form class="LogIN_form" action="/" method="post">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" value="{{username}}" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <input type="submit" value="Login" class="button">

    </form>

</div>

{% endblock %}